**/target/
**/.idea/
**/.vscode/
**/.git/
**/.gitignore
**/*.iml
**/.DS_Store

**/.mvn/wrapper/maven-wrapper.jar
**/.flattened-pom.xml

**/.claude/
docs/

**/*.log
**/hs_err_pid*.log
**/replay_pid*.log

**/node_modules/
